<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Password</title>
</head>
<body>
    <h1>New Password</h1>
    <hr>
    <form action="{% url 'login_app:password_reset_form' %}" method="POST">
        {% csrf_token %}
        <input type="email" name="email" placeholder="E-mail">
        <input type="password" name="password">
        <input type="password" name="confirm_password">
        <input type="hidden" name="secret" value="{{ secret }}">
        <input type="submit" value="Set new Password">
    </form>
    <hr>
    {% if error %}{{message}}{% endif %}
</body>
</html>